<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>tp_bdd_initiales</display-name>
 <servlet>
 <servlet-name>InscriptionServlets</servlet-name>
 <servlet-class>sn.lamp.servlets.InscriptionServlets</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>InscriptionServlets</servlet-name>
 <url-pattern>/register</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>LoginServlets</servlet-name>
 <servlet-class>sn.lamp.servlets.LoginServlets</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>LoginServlets</servlet-name>
 <url-pattern>/login</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>AdminServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.AdminServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AdminServlet</servlet-name>
 <url-pattern>/admin</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>CientsServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.CientsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CientsServlet</servlet-name>
 <url-pattern>/accueil</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>new_postServlet</servlet-name>
 <servlet-class>sn.lamp.servlets.new_postServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>new_postServlet</servlet-name>
 <url-pattern>/new_post</url-pattern>
 </servlet-mapping>
    <servlet>
 <servlet-name>UpdatePost</servlet-name>
 <servlet-class>sn.lamp.servlets.UpdatePost</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdatePost</servlet-name>
 <url-pattern>/update</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>UpdatePublication</servlet-name>
 <servlet-class>sn.lamp.servlets.UpdatePublication</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdatePublication</servlet-name>
 <url-pattern>/updat</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>suppression</servlet-name>
 <servlet-class>sn.lamp.servlets.suppression</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>suppression</servlet-name>
 <url-pattern>/delete</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>SuppressionPost</servlet-name>
 <servlet-class>sn.lamp.servlets.SuppressionPost</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SuppressionPost</servlet-name>
 <url-pattern>/delet</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>Confirmer</servlet-name>
 <servlet-class>sn.lamp.servlets.Confirmer</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Confirmer</servlet-name>
 <url-pattern>/confirmer</url-pattern>
 </servlet-mapping>
    <servlet>
 <servlet-name>ConfirmerSup</servlet-name>
 <servlet-class>sn.lamp.servlets.ConfirmerSup</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ConfirmerSup</servlet-name>
 <url-pattern>/confirmersupp</url-pattern>
 </servlet-mapping>
    <servlet>
 <servlet-name>Deconnexion</servlet-name>
 <servlet-class>sn.lamp.servlets.Deconnexion</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Deconnexion</servlet-name>
 <url-pattern>/deconnexion</url-pattern>
 </servlet-mapping>
   <filter>
  <filter-name>LoginFilter</filter-name>
  <filter-class>sn.lamp.Filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
    <filter>
  <filter-name>clientFilter</filter-name>
  <filter-class>sn.lamp.Filter.clientFilter</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>clientFilter</filter-name>
  <url-pattern>/clients/*</url-pattern>
  </filter-mapping>
  
</web-app>